/*Assignment menu page*/


#mycontainer{
	padding: 0;
	border-style: solid;
	background-color: lightslategrey;
}

#mynav{
	padding-top: 0;
}

#brandname{
	font-size: 1.75em;
	font-weight: bold;
	padding: 15px 0 25px 20px;
	width: 100%;
	margin-right: 0;
}

#page-heading{
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
	font-weight: bold;
}

#home-tiles section{
	background-color: skyblue;
	padding: 10px;
	margin-bottom: 15px;
	width: 100%;
}

#home-tiles h3{
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
}


/* MEDIA QUERIES */


@media (max-width: 576px){
	#brandname{
		width: 50%;
	}

	#mybutton{
		margin-right: 20px;
	}

	#mylist li{
		text-align: center;
		background-color: white;
		font-weight: bold;
		border-style: solid;
		border-width: thin;
	}
}

@media(min-width: 768px){
	#content{
	margin-left: 0;
	margin-right: 0;
	max-width: 1263px;
}


